include:
  - project: 'acerodnel/gitlab-actions'
    file: 'templates/sync_to_github.yml'
  - project: 'acerodnel/gitlab-actions'
    file: 'templates/build_container_images_all.yml'

stages:
  - validate
  - build
  - sync
  - cleanup